$h1-font-size: 3rem;
$h6-font-size: 0.7rem;
$primary: white;
$secondary: #666666;
$dark: #141414;
$body-bg: $dark;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.fit-content {
    width: fit-content;
}

@import 'homepage';
@import 'edit-profile';
@import 'settings';