<app-hero></app-hero>
<h2 class="text-center border-bottom pb-2 mb-4 fs-1">Cars Trending this week</h2>

<div class="d-flex flex-wrap gap-5 justify-content-center">
  <div [ngClass]="{'bg-success': car.available, 'bg-danger': !car.available}"
  class="card home-width" *ngFor="let car of inEvidenceCars">
    <img [src]="car.modelImage" class="card-img-top img-car-home">
    <div class="card-body">
      <h5 class="card-title text-white">{{car.model}}</h5>
      <div class="d-flex justify-content-between">
        <a routerLink="/{{car.brand}}" class="btn btn-outline-light card-text">{{car.brand}}</a>
        <a [routerLink]="['/details', car.id]" class="btn btn-info card-text">see more</a>
      </div>
    </div>
  </div>
</div>
