<header>
  <nav class="navbar navbar-expand flex-wrap bg-body-tertiary">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <img src="../../../assets/img/logo.jpeg" alt="logo" class="img-logo">
        <h1 class="text-danger fst-italic">Cars Rental</h1>
      </div>
      <div>
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Fiat">Fiat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Ford">Ford</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Audi">Audi</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
